<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa  
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 配置Spring Data JPA扫描目录 -->
	<jpa:repositories base-package="cn.edu.bupt.core.dao"
		entity-manager-factory-ref="entityManagerFactory"
		transaction-manager-ref="transactionManager" repository-impl-postfix="Impl" />

	<!-- 基于注解的事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- jpa事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- jpa实体管理器工厂 -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 适配器 -->
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<!-- 注册实体bean -->
		<property name="packagesToScan" value="cn.edu.bupt.core.entity" />
		<!-- 基本配置 -->
		<property name="jpaProperties">
			<map>
				<entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
				<entry key="hibernate.show_sql" value="true" />
				<entry key="hibernate.format_sql" value="false" />
				<entry key="hibernate.hbm2ddl.auto" value="update" />
				<entry key="hibernate.ejb.naming_strategy"
					value="org.hibernate.boot.model.naming.ImplicitNamingStrategy" />
			</map>
		</property>
	</bean>

	<!--数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="root" />
		<property name="password" value="root" />
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/demo?createDatabaseIfNotExist=true" />
	</bean>

	<!-- 适配器 -->
	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="generateDdl" value="true" />
		<property name="database" value="MYSQL" />
	</bean>
</beans>